<div class="bar-section">
    <p>bar works!</p>
    <p>Bar value: {{value()}} </p>
    <p>Bar required value: {{requiredValue()}} </p>
    <p>{{ modelEntraceBar()}}</p>"
    
    <div>
        <button (click)="updateCount(-1)">-</button>
        <span>{{ count() }}</span>
        <button (click)="updateCount(1)">+</button>
    </div>

    <div>
        <p>Input Decorator: {{ inputDecorator }}</p>
        <p>input function: {{ value2() }}</p>
    </div>
    <div>
        <h2>Output decorator</h2>
        <button (click)="onClick()">EventEmmiter</button>
    </div>
    <div>
        <h2>output function</h2>
        <button (click)="onClickFunction()">asd</button>
    </div>
</div>