.grid_container{
    background: whitesmoke;
    border: 1px solid black;
    display: grid;
    height: 100vh;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 75px 1fr 30px;
    grid-template-areas: 
    'header header'
    'aside main'
    'footer footer';
}

header{
    grid-area: header;
}

aside{
    grid-area: aside;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}