$background: #f5f3f3;
$principal: #0056b3;
$cor-secundaria: #7c8c9a;
$cor-destaque:#000;
$button:orange; 
$borda-arrendondada: 6px;
$font-texto: 10px;
$font-principal: 'Verdana';

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
