.container{
    background-color: var(--jet-b);
    font-family: "Atkinson Hyperlegible Mono", sans-serif;;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    color: var(--white);
}